.pageThird{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 762px;
    //min-height: 483px;
    width: 100%;
    padding-top: 24px;
    
   
}
.pageThird__container{
    display: flex;
    justify-content: space-between;
    max-width: 762px;
    margin: 0 auto 24px;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.pageThird__img{
    width: 370px;
    height: 216px;
    box-sizing: border-box;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    display: inline-block;
    margin-right:24px;
    margin-bottom:24px;
}

.pageThird__wrapper{
    display: flex;
    flex-direction: column;
    //align-items: center;
    align-content: flex-start;
}
.pageThird__article{
    display:flex;
    flex-direction: column;
    max-width: 500px;
    display: inline-block;
}
.pageThird__title{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #000000;
margin-bottom: 16px;
}
.pageThird__text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
margin-bottom:12px;
color: #000000;
}
.pageThird__subtitle{
    
font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
display: flex;
margin-bottom: 12px;
color: #000000;

}