.pageBook{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 762px;
    width: 100%;
    padding-top: 24px;
    font-family: "Segoe UI", sans-serif; 
   
}
.pageBook__container{
    display: flex;
    justify-content: space-between;
    max-width: 762px;
    margin: 0 auto 24px;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.pageBook__img-big{
    width: 370px;
    height: 216px;
    box-sizing: border-box;
    background-color: #e2e2e2;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    display: inline-block;
    margin-right:24px;
    margin-bottom:24px;
    text-align: center;
    vertical-align: middle;
}


.pageBook__wrapper{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.pageBook__article{
    display:flex;
    flex-direction: column;
    max-width: 500px;
    display: inline-block;
}
.pageBook__title{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #000000;
margin-bottom: 16px;
}
.pageBook__text{
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
margin-bottom:12px;
color: #000000;
}
