/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
  width: 40%;
}
.hd__btn{
 margin-right:15px;
 margin-top:15px;
}
