<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
<section class="login-hero">
    <div class="login-hero__container">
<div class="login-hero__card">
<div class="login-hero__card">
    <div class="login-hero__table">
    <div class="login-hero__title">Create Account</div>
    <div class="login-hero__descr">Create a free salmanwap account to access
        all articles and videos.</div>
        <div class="login-hero__form"> 
            <label for="username" ><span class="login-hero__label">Username</span></label>
            <input type="text" id="username" name="username" placeholder="shambhavim1999" class="login-hero__input">
            <span class="login-hero__require">Must not contain any special character</span>
        </div>
        
        
        <div class="login-hero__form">
            <div class="mb-40">
            <label for="pass"><span class="login-hero__label">Password</span></label>
            <input type="password" id="pass" name="password"
                   minlength="8" required class="login-hero__input">
                   <span  class="login-hero__require">Must have atleast 8+ characters</span>
        </div>
    </div>
        
        <input type="submit" value="Create a free account" class="login-hero__btn">
    </div>
</div>

</div>
</div>
</section>
