.FormComponent__Wrapper{
      display: flex;
      flex-direction: column;
     align-items: center;
}
.FormComponent {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    width: 460px;
    border-radius: 5%;
    background-color: #6e2aad ;
    padding: 30px;
    color: white;
  }
  .FormComponent__input{
    width: 300px;
    height: 35px;
    border-radius: 4px;
  }
  .example-chip-list {
    width: 100%;
  }
  .FormComponent__btn {
    margin: 8px 8px;
    background-color: #8a2be2;
    border: 4px dotted #6f1abd;
    color: #fff5ee;
    width: 100px;
    height: 45px;
    border-radius: 4px;
    font-size: 20px;
  }
  .mat-chip.mat-standard-chip{
      background-color: #6e2aad;
  }

  label{
    margin: 8px;
  }

  .FormComponent__btn:hover {
    background-color: #310062;
  }
  .example-chip-list{
    width: 310px;
    margin-left:75px;
  }
  .error {
    color: white;
    margin: 10px 0;
  }
  
  .displayInfoTable {
    width: 200px;
    margin: 20px auto;
  }
  
  .example-chip-list {
    margin-top: 20px;
  }
  .FormComponent__btns{
      display: flex;
      justify-content: center;
  }