<h1>{{title | fileSizePipe}}</h1>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle><a routerLink="/dashboard">Dashboard</a></mat-button-toggle>
  <mat-button-toggle><a class="heroea-menu__a" routerLink="/heroes" >Heroes</a></mat-button-toggle>
  <mat-button-toggle><a routerLink="/book">Book</a></mat-button-toggle>
  <mat-button-toggle><a routerLink="/book/table">Book-table</a></mat-button-toggle>
</mat-button-toggle-group>
<router-outlet></router-outlet>

<!--<app-messages></app-messages>
<app-login-hero></app-login-hero>-->


<!--<section class="example-section" [formGroup]="form">
  <mat-checkbox class="example-margin" color="warn" formControlName="temp1" >warn</mat-checkbox>
  <mat-checkbox class="example-margin" color="accent" formControlName="temp2" >accent</mat-checkbox>
  <mat-checkbox class="example-margin" color="primary" formControlName="temp3">primary</mat-checkbox>
  <input type="number" formControlName="temp4">

  <div>form is  {{form.status}}</div>
</section>

<button mat-raised-button color="accent" [disabled]="form.invalid">Загрузка данных</button>-->
