<h1>{{title | fileSizePipe}}</h1>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle><a routerLink="/dashboard" >Dashboard</a></mat-button-toggle>
  <mat-button-toggle><a class="heroea-menu__a" routerLink="/heroes" >Heroes</a></mat-button-toggle>
  <mat-button-toggle><a routerLink="/book">Book</a></mat-button-toggle>
  <mat-button-toggle><a routerLink="/book/table">Book-table</a></mat-button-toggle>
</mat-button-toggle-group>
<router-outlet></router-outlet>
<app-form-component></app-form-component>
