<div id="search-component">
  <h2 appTextModificatorHost [BackColorHost] ="'purple'" [MyTextHost] ="'С днем рождения!'">HomeWork</h2>
  <label for="search-box" appTextModificator [BackColor] ="'green'" [MyText] ="'Когда пытылась перенастроить проект:столько боли и неопределенности, буду создавать заново скоро и пробовать перекидывать свое творчество туда'"  >Hero Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value) " />

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async" >
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
